<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LIbreria.Properties.Settings.cadenaConexion" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\fedetomadin\Desktop\Utiles.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>